<h1>StaticPages#about</h1>
<p>自己紹介ページ</p>


  <%= form_tag("/home", method: "get") do %>
  <%= submit_tag("Home") %>
  <% end %>

  <%= form_tag("/about", method: "get") do %>
  <%= submit_tag("About") %>
  <% end %>

  <%= form_tag("/contact", method: "get") do %>
  <%= submit_tag("Contact") %>
  <% end %>

  <%= form_tag("/signup", method: "get") do %>
  <%= submit_tag("会員登録ページ") %>
  <% end %>


<h2>製作者について</h2>
  <body>
    <li>はじめに</li>
      <body>
        プロフィールをご覧頂きありがとうございます。<br>
        大学で航空工学を中心に学び、短い期間ながら機械系エンジニアと化学系エンジニアを経験してきました。<br>
        現在はITエンジニアへ転職するために東京で活動中です。<br><br>
        (※ まだ初期の編集段階につき、記載の不足が多くあります。2019.6月に掛けて私自身や先の展望についての記述を充実させて参ります。)<br><br>
      </body>

    <li>プログラミング経験と学習について</li>
      <body>実務経験はありませんが、大学時代にPascalとC++で情報科学の基礎や簡単な微分方程式の解法についての講義を履修していたことはあります。<br>
        製造業企業を退職してからは、基礎的なWebアプリのバックエンド技術の習得のために情報工学やRuby, Ruby on Railsの学習を進めています。<br>
        Rubyを学習している理由としては日本語による技術資料が充実していることと、もしRuby系のプログラミングスクールなどのお世話になる場合にはそれまでのRuby学習の延長として継続することが可能なためです。数学を扱う記述に強いPythonにも関心があります。<br><br>
        (※ 学習成果として、6月か7月辺りにはポートフォリオを作成して掲載いたします。)
      </body>

    <li>趣味</li>
      <body>
        eSports系のゲームや旅行、風景写真などが好みです。<br>
        Web上で雑多に記事を漁ることも好きです。航空宇宙ネタや猫などの動物については特によく食い付きます。<br>
      </body>

    <li>技術への想い</li>
      <body>
        もともと理工系に進もうと考えたきっかけは小学生の頃によく観ていたスタートレックシリーズ作品に登場する架空の未来技術の数々に感銘を受けたことでした。<br>
        当時は前述のスタートレックのテレビシリーズ以外にも、ターミネーター2、マトリックス、スターウォーズEP1などCG技術を駆使したSF作品が相次いで登場したために人工知能や宇宙船の航行技術への関心が一気に高まりました。ただし、あくまでSF世界のものという認識で、自分がそれらの発展に寄与するようなビジョンは持っていませんでした。<br>
        ところが、特に2010年代に入り、高度な音声認識AI、脳の神経回路構造を模したコンピュータ、VR技術、タッチパネルの操作盤など、90年代当時ではSFのものでしかなかったものが急速に我々の周りで実現したり、実用技術として話題をよく耳にするような時代になりました。もしかしたら自身もそれらの先進技術分野に直接携わっていけるのでは無いかと思い始め、どうせやるなら20代のうちに転身するべきと考え、所属する業種そのものを変える決意を致しました。<br>
      </body>
