<h1>StaticPages#contact</h1>
<p>連絡先：トップページのサイドに統合したい</p>


  <%= form_tag("/home", method: "get") do %>
  <%= submit_tag("Home") %>
  <% end %>

  <%= form_tag("/about", method: "get") do %>
  <%= submit_tag("About") %>
  <% end %>

  <%= form_tag("/contact", method: "get") do %>
  <%= submit_tag("Contact") %>
  <% end %>

  <%= form_tag("/signup", method: "get") do %>
  <%= submit_tag("会員登録ページ") %>
  <% end %>
