<html id="edit-user">
  <div class="container" id="user-forms">
    <div class="col-5 mx-auto">
      <h4 class="text-bold">アカウント情報の編集</h4>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.text_field :username, autofocus: true, autocomplete: "username",
              class: "form-control", placeholder: "アカウント名" %>
        </div>
        <div class="field">
          <%= f.text_area :profile, autofocus: true, autocomplete: "profile",
              class: "form-control", placeholder: "プロフィール文を記載" %>
        </div>
        <div class="badge badge-light field">
          <%= image_tag @user.image.url, class: 'rounded', :size => '100x100' if @user.image.url.present? %>
          <%= f.file_field :image, class: "m-0" %>
        </div>
        <div class="badge badge-primary"><%= f.check_box :remove_image %>画像を削除する</div>

        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",
              class: "form-control", placeholder: "Eメールアドレス" %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="field">
          <%= f.password_field :password, autocomplete: "new-password",
              class: "form-control", placeholder: "新しいパスワード(最低６文字)" %>
        </div>
        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password",
              class: "form-control", placeholder: "新しいパスワード(確認)" %>
        </div>
        <div class="field">
          <%= f.password_field :current_password, autocomplete: "current_password",
              class: "form-control", placeholder: "現在のパスワード" %>
        </div>
        <% if current_user.guest_flg == true %>
          <div class="btn btn-sm btn-success">
            ゲスト用のアカウントでは登録情報の操作はできません
          </div>
        <% else %>
          <div class="actions">
            <%= f.submit "アカウント情報を更新する", class: "btn btn-sm btn-success" %>
          </div>
          <div>
            <%= link_to "アカウントの削除", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete, class: 'btn btn-sm btn-danger', id: 'delete-btn' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</html>
