<div class="comment-form py-3">
  <% if user_signed_in? %>
  <div class="p-1 px-5 border-0 rounded-0" id="comment-card">
    <div class="media p-0 d-flex" id="comment-part-body">
      <div class="d-flex my-1 mr-1">
        <%= render 'comments/comment_user_image', user: current_user %>
      </div>
      <div class="media-body m-0 mr-1">
        <div class="d-flex justify-content-between">
          <div class="flex-column">
            <div class="font-weight-bold" id="name">
              <%= current_user.username %>
            </div>
          </div>
        </div>
        <div id="comment-input">
          <%= form_for [article, Comment.new], id: 'comment-poster', remote: true do |f| %>
            <div class= "input-group mx-1">
              <%= f.text_area :content, class: 'form-control mb-1', placeholder: "コメントを書く..." %>
              <%= f.submit 'コメントする', class: 'btn btn-secondary btn-sm btn-block' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
