<div class="card" id="comments-view">
  <div class="card-header d-flex justify-content-between">
    <div class="d-flex">
      <div class="d-flex align-self-center mr-2">
        <%= image_tag 'default.jpg', class: 'plofile_img', :size => '30x30' %>
      </div>
      <div class="d-flex flex-column">
        <div class="align-self-start font-weight-bold" id="name"><%= comment.commenter.username %></div>
        <div id="date"><%= comment.created_at.strftime("%Y/%m/%d %H:%M") %></div>
      </div>
    </div>
    <% if user_signed_in? %>
      <% if comment.commenter == current_user %>
        <div class="comment-eraser">
          <%= render 'comments/comment_card_btn_delete', comment: comment, article: comment.article %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="card-body"><%= comment.content %></div>
</div>
