<div class="media p-0 d-flex" id="comment-part-body">
  <div class="d-flex my-1 mr-1">
    <%= image_tag current_user.image.url, class: 'rounded', :size => '30x30' if current_user.image.url.present? %>
  </div>
  <div class="media-body m-0 mr-1">
    <div class="d-flex justify-content-between">
      <div class="flex-column">
        <div class="font-weight-bold" id="name">
          <%= comment.commenter.username %>
          <%= render 'users/user_card_admin_badge', user: comment.commenter %>
        </div>
        <div class="d-flex">
          <div id="date"><%= comment.created_at.strftime("%Y/%m/%d %H:%M") %></div>
        </div>
      </div>
    </div>
    <div class ="rounded m-1 p-1" id="comment-words">
      <div><%= comment.content %></div>
    </div>
  </div>
</div>
