<div class="modal fade article-modal" id="article-modal-<%= article_type %>-<%= article.id %>" tabindex="-1" role="dialog" aria-labelledby="記事プレビュー" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <%= link_to article.user do %>
        <div class="modal-header p-1 d-flex justify-content-between border-secondary" id="author">
          <div class="d-flex p-0">
            <div class="d-flex mx-1 align-self-center">
              <%= image_tag article.author.image.url, class: 'rounded', :size => '30x30' if article.author.image.url.present? %>
            </div>
            <div class="d-flex flex-column align-self-center" id="date">
              <div class="mr-1 font-weight-bold text-left" id="author">
                <%= article.author.username %>
                <%= render 'users/user_card_attribute_badge', user: article.author %>
              </div>
              <div class="text-truncate" id="date"><%= article.created_at.strftime("%m月%d日 %H:%M") %></div>
            </div>
          </div>
          <div class="align-self-center">
            <%= link_to "記事詳細へ", article, class: "p-1 btn btn-sm btn-primary" %>
            <button type="button" class="p-1 btn btn-sm btn-secondary" data-dismiss="modal">閉じる</button>
          </div>
        </div>
      <% end %>
      <%= link_to article do %>
        <div class="modal-header border-secondary rounded-0 p-1 pl-2" id="title">
          <div>
            <%= render 'articles/article_card_notice_type_badge', article: article %>
            <%= article.title %>
          </div>
        </div>
      <% end %>
      <div class="modal-header rounded-0 p-0 pl-2">
        <%= render 'tags/tags_badges_line', tags: article.tag_list %>
      </div>
      <div class=" d-flex p-0 justify-content-center">
        <div class="card m-2 border-0 rounded-0 article-modal-picture-field">
          <%= image_tag article.article_picture.url, class: "article-picture" if article.article_picture.url.present? %>
        </div>
      </div>
      <div class="modal-body p-2 px-3 overflow-auto">
        <%= markdown(article.body).html_safe %>
      </div>
      <div class="modal-footer border-top-0 p-2">
        <%= link_to "記事詳細へ", article, class: "p-1 btn btn-sm btn-primary" %>
        <button type="button" class="p-1 btn btn-sm btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
      <div class="py-3 border-top comments-list" id="comments-list-<%= article.id %>" >
        <%= render 'comments/comments_list', comments: article.comments %>
      </div>
      <div id="comment-poster">
        <%= render 'comments/comment_form_post', article: article %>
      </div>
    </div>
  </div>
</div>
