<div class="card" id="article-card">
  <div class="card-header p-1 border-secondary" id="author">
    <%= link_to article.user do %>
    <div class="d-flex p-0">
      <div class="d-flex mx-1 align-self-center">
        <%= image_tag article.author.image.url, class: 'rounded', :size => '40x40' if article.author.image.url.present? %>
      </div>
      <div class="d-flex flex-column align-self-center">
        <div class="mr-1 font-weight-bold text-left" id="author">
          <%= article.author.username %>
          <%= render 'users/user_card_attribute_badge', user: article.author %>
        </div>
        <div class="text-truncate" id="date"><%= article.created_at.strftime("%m月%d日 %H:%M") %></div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="card-header border-secondary rounded-0 p-1 pl-2" id="title">
    <%= render 'articles/article_card_notice_type_badge', article: article %>
    <%= article.title %>
  </div>
  <div class="card-header d-flex justify-content-between">
    <div class="d-flex">
      <% article.tag_list.each do |tag| %>
        <% render 'tags/tag_badge', article: article %>
      <% end %>
    </div>
    <div class="d-flex align-self-center">
      <%= render 'articles/article_card_edit_or_delete_btn', article: article %>
    </div>
  </div>
  <div class="card-body">
    <div class="card d-flex m-0 p-0 border-0 justify-content-center">
      <div class="article-picture-field">
        <%= image_tag article.article_picture.url, class: "article-picture" if article.article_picture.url.present? %>
      </div>
    </div>
    <%= markdown(article.body).html_safe %>
  </div>
  <% if user_signed_in? %>
    <div class="card-footer p-1">
      <div id="like-button-<%= article.id %>">
        <%= render 'articles/article_card_like_btn', article: article, like: like %>
      </div>
    </div>
  <% end %>
</div>
