<div class="comments">
  <% if user_signed_in? %>
    <div id="comment-form">
      <%= form_for @comment, url: article_comments_path(@article), local: true do |f| %>
        <div class= "input-group" id="comment-form">
          <span :content, class="input-group-text">コメントを書く</span>
          <%= f.text_area :content, class: 'form-control', placeholder: "コメントを書く" %>
          <%= f.submit 'コメントする', class: 'btn btn-secondary btn-lg btn-block' %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% @article.comments.each do |comment| %>
    <% if comment.id.present? %>
      <div class="card" id="comments-view">
        <div class="card-header d-flex">
          <div class="align-self-center mr-2">
            <%= image_tag 'default.jpg', class: 'plofile_img', :size => '30x30' %>
          </div>
          <div class="d-flex flex-column">
            <div class="align-self-start font-weight-bold" id="name"><%= comment.commenter.username %></div>
            <div id="date"><%= comment.created_at.strftime("%Y/%m/%d %H:%M") %></div>
          </div>
        </div>
        <div class="card-body"><%= comment.content %></div>
        <% if user_signed_in? %>
        <% if current_user.id == comment.user_id %>
          <%= link_to "コメントの削除", article_comment_path(comment), method: :delete,
           data: { confirm: '本当にコメントを削除しますか？' }, class: 'float-left mr-3 btn-sm btn-light', id: 'delete-btn' %>
        <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
