<% @article.likes.each do |like| %>
  <% if user_signed_in? %>
    <% if like_user(current_user.id) %>
      <%= button_to article_like_path(like, article_id: article_id), method: :delete, id: "like-button", remote: true do %>
        <span class="btn btn-sm btn-warning"><%= icon('fa', 'heart', 'いいね！を取り消す') %></span>
        <span>
          <%= like_count %>
        </span>
    <% end %>
  <% else %>
    <%= button_to article_likes_path(article), id: "like-button", remote: true do %>
      <span class="btn btn-sm btn-warning"><%= icon('fa', 'heart', 'いいねする') %></span>
      <span>
        <%= like_count %>
      </span>
    <% end %>
  <% end %>
<% else %>
  <span class="btn btn-sm btn-warning"><%= icon('fa', 'heart', 'いいねする') %></span>
    <span>
      <%= like_count %>
    </span>
<% end %>
<% end %>
