
  <% if @article.like_user(current_user.id) %>
    <%= button_to article_like_path(@article), method: :delete, id: "like-button", local: true do %>
      <div class="btn btn-sm btn-warning">
        <%= icon('fa', 'thumbs-up') %>(<%= @article.like_count %>) いいねを取り消す
      </div>
    <% end %>
  <% else %>
    <%= button_to article_likes_path(@article), id: "like-button", local: true do %>
      <div class="btn btn-sm btn-warning">
        <%= icon('fa', 'thumbs-up') %>(<%= @article.like_count %>) いいねする
      </div>
    <% end %>
  <% end %>
