<% provide(:title, '新着記事一覧') %>

  <div class="card-deck container-fruid" id="columns">
    <% @articles.each do |article| %>
    <div class="row col-3 justify-content-center">
      <div class="card">
        <div class="card-header"><%= article.category %></div>
        <div class="card-body">
          <h5 class="card-title"><%= article.title %></h5>
          <p class="card-text"><%= article.body %></p>
        </div>
        <%= link_to "続きを読む", article, id: "article-more" %>
        <div class="card-footer">
          <div id="card-footer-text"><%= article.created_at.strftime("%Y/%m/%d %H:%M 投稿") %></div>
        </div>
      </div>
      </div>
    <% end %>
  </div>
