<% provide(:title, "記事詳細") %>

<div class="col-11 mx-auto">
  <div class="card" id="article-show">
    <div class="card-header d-flex justify-content-between" id="header1">
      <div class="d-flex">
        <div class="badge badge-secondary d-flex mr-3">
          <div class="align-self-center mr-2">
            <%= image_tag 'default.jpg', class: 'plofile_img', :size => '30x30' %>
          </div>
          <div class="align-self-center font-weight-bold" id="badge-name">
            <%= @article.username %>
          </div>
        </div>
        <div class="card-title align-self-center" id="article-title"><%= @article.title %></div>
      </div>
      <div class="d-flex flex-column align-self-center" id="date">
        <div>更新；<%= @article.updated_at.strftime("%Y/%m/%d %H:%M") %></div>
        <div>投稿：<%= @article.created_at.strftime("%Y/%m/%d %H:%M") %></div>
      </div>
    </div>
    <div class="card-header">
      <% @article.tag_list.each do |tag| %>
        <span class="tag badge badge-primary float-left"><%= tag %></span>
      <% end %>
    </div>

    <%= render 'articles/btns' %>

    <div class="card-body">
      <%= simple_format(@article.body) %>
      <%= render 'articles/likesarticle' %>
    </div>
  </div>
  <%= render 'articles/comments' %>
</div>
