<% provide(:title, "記事詳細") %>

<div class="card" id="show-page">
  <div class="card-header">
    <div class="card-title float-left"><%= @article.title %></div>

    <h6 class="float-right mr-3">更新；<%= @article.updated_at.strftime("%Y/%m/%d %H:%M") %></h6>
    <h6 class="float-right mr-3">投稿：<%= @article.created_at.strftime("%Y/%m/%d %H:%M") %></h6>
  </div>
  <div class="card-header">
    <% @article.tag_list.each do |tag| %>
      <span class="tag badge badge-primary float-left"><%= tag %></span>
    <% end %>
  </div>
  <div class="card-header" id="author-edit">
    <% if current_user.id == @article.user_id %>
      <%= link_to "記事の削除", @article, method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'float-left mr-3 btn-sm btn-light', id: 'delete-btn' %>
      <%= link_to "記事の編集", [:edit, @article], class: 'float-left mr-3 btn-sm btn-light' ,id: 'edit-btn' %>
    <% else %>
      <h4><span class="badge badge-secondary float-left">記事の投稿者であれば編集ができます。</span></h4>
    <% end %>
    <div class="float-right">
      <h4 class="username-box float-right"><span class="badge badge-warning">投稿者：<%= @article.authorname %></span></h4>
    </div>
  </div>
  <div class="card-body"><%= simple_format(@article.body) %></div>
</div>

<%= render 'articles/comments' %>
