<div class="card m-0" id="user-card">
  <div class="card-body media p-0 d-flex">
    <div class="d-flex m-1 mr-2">
      <%= image_tag user.image.url, class: 'rounded', :size => '50x50' if user.image.url.present? %>
    </div>
    <div class="media-body my-1 mr-1">
      <div class="d-flex justify-content-between">
        <div class="flex-column">
          <div class="font-weight-bold" id="name">
            <%= link_to user.username, user, id: "user-more" %>
            <%= render 'users/user_card_attribute_badge', user: user %>
          </div>
          <div class="d-flex">
            <div class="d-flex flex-column" id="name">
              <div class="mr-3">投稿</div>
              <div class=""><%= user.article_count %></div>
            </div>
            <div class="d-flex flex-column" id="name">
              <div class="mr-3">フォロー</div>
              <div class=""><%= user.followings.count %></div>
            </div>
            <div class="d-flex flex-column" id="name">
              <div class="">フォロワー</div>
              <div class=""><%= user.followers.count %></div>
            </div>
          </div>
        </div>
        <%= render 'users/user_card_btns_edit_or_follow', user: user %>
      </div>
      <div class ="card m-2 p-2" id="profile">
        <% if user.profile.present? %>
          <div><%= user.profile %></div>
        <% else %>
          <div style="color: gray;">
            プロフィール文がありません。
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
