<% provide(:title, "#{@user.username}さん") %>

<div class="col-6 mx-auto mb-4" id="user-show">
  <div class="card mb-2">
    <div class="card-header d-flex justify-content-between">
      <div class="d-flex">
        <div class="d-flex mr-3">
          <div class="align-self-center mr-2">
            <%= image_tag 'default.jpg', class: 'plofile_img', :size => '50x50' %>
          </div>
          <div class="align-self-center font-weight-bold" id="badge-name">
            <%= @user.username %>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column align-self-center" id="date">
        <div>更新；<%= @user.updated_at.strftime("%Y/%m/%d %H:%M") %></div>
        <div>投稿：<%= @user.created_at.strftime("%Y/%m/%d %H:%M") %></div>
      </div>
    </div>
    <div class="card-body">
      <%= simple_format(@user.profile) %>
    </div>
  </div>
  <% if user_signed_in? %>
    <% if current_page?(current_user) %>
      <%= link_to "ユーザー情報の編集", edit_user_registration_path, class: 'btn btn-secondary btn-block mt-1' ,id: 'edit-btn' %>
    <% else %>
      <%= link_to "フォローする(はずす)", "#", class: 'btn btn-primary btn-block mt-1' ,id: 'follow-btn' %>
    <% end %>
  <% end %>
</div>
<%= render 'users/tablist' %>
