<div class="card" id="guestuser-form">
  <h4>ユーザー体験の確認用</h4>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class= "input-group" id="article-title">
      <%= f.hidden_field :username, value: "ゲスト" %>
      <%= f.hidden_field :email, value: "guest@mail.com" %>
      <%= f.hidden_field :password, value: "guestguest1" %>
    </div>
    <%= f.submit 'ゲスト１ユーザーの登録(初回のみ)', class: 'btn btn-secondary btn-lg btn-block' %>
  <% end %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class= "input-group" id="article-title">
      <%= f.hidden_field :username, value: "ゲスト" %>
      <%= f.hidden_field :email, value: "guest@mail.com" %>
      <%= f.hidden_field :password, value: "guestguest1" %>
    </div>
    <%= f.submit 'ゲスト１としてログインする', class: 'btn btn-secondary btn-lg btn-block' %>
  <% end %>
</div>
