<div id="guestuser-form">
  <% if User.where(email: "guest@mail.com").present? %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class= "input-group" id="article-title">
        <%= f.hidden_field :username, value: "ゲスト" %>
        <%= f.hidden_field :email, value: "guest@mail.com" %>
        <%= f.hidden_field :password, value: "guestguest1" %>
      </div>
      <%= f.submit 'ゲストとしてテストログインする', class: 'btn btn-secondary btn-block', id: "guest-btn" %>
    <% end %>
  <% else %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class= "input-group" id="article-title">
        <%= f.hidden_field :username, value: "ゲスト" %>
        <%= f.hidden_field :email, value: "guest@mail.com" %>
        <%= f.hidden_field :profile, value: "このアカウントはポートフォリオの内容を確認するためのものです。" %>
        <%= f.hidden_field :password, value: "guestguest1" %>
      </div>
      <%= f.submit 'ゲストユーザーの登録(初回のみ)', class: 'container btn btn-secondary btn-lg' %>
    <% end %>
  <% end %>
</div>
