<div id="guestuser-form">
  <div class="letters">
    ※ テストユーザーは下記欄の入力なしにログイン後のページを閲覧できます。
  </div>
  <% if User.where(email: "guest1@mail.com").present? %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class= "input-group" id="article-title">
        <%= f.hidden_field :username, value: "ゲスト甲" %>
        <%= f.hidden_field :email, value: "guest1@mail.com" %>
        <%= f.hidden_field :password, value: "guestguest1" %>
      </div>
      <%= f.submit 'ゲスト甲としてテストログイン', class: 'btn btn-secondary btn-block my-1', id: "guest-btn" %>
    <% end %>
  <% else %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class= "input-group" id="article-title">
        <%= f.hidden_field :username, value: "ゲスト甲" %>
        <%= f.hidden_field :email, value: "guest1@mail.com" %>
        <%= f.hidden_field :profile, value: "このアカウントはポートフォリオの内容を確認するためのものです。" %>
        <%= f.hidden_field :guest_flg, value: "true" %>
        <%= f.hidden_field :password, value: "guestguest1" %>
      </div>
      <%= f.submit 'ゲスト甲として登録(初回のみ)', class: 'container btn btn-secondary my-1' %>
    <% end %>
  <% end %>
</div>

<div id="guestuser-form">
  <% if User.where(email: "guest2@mail.com").present? %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class= "input-group" id="article-title">
        <%= f.hidden_field :username, value: "ゲスト乙" %>
        <%= f.hidden_field :email, value: "guest2@mail.com" %>
        <%= f.hidden_field :password, value: "guestguest2" %>
      </div>
      <%= f.submit 'ゲスト乙としてテストログイン', class: 'btn btn-secondary btn-block my-1', id: "guest-btn" %>
    <% end %>
  <% else %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class= "input-group" id="article-title">
        <%= f.hidden_field :username, value: "ゲスト乙" %>
        <%= f.hidden_field :email, value: "guest2@mail.com" %>
        <%= f.hidden_field :profile, value: "このアカウントはポートフォリオの内容を確認するためのものです。" %>
        <%= f.hidden_field :guest_flg, value: "true" %>
        <%= f.hidden_field :password, value: "guestguest2" %>
      </div>
      <%= f.submit 'ゲスト乙として登録(初回のみ)', class: 'container btn btn-secondary my-1' %>
    <% end %>
  <% end %>
</div>

<div id="guestuser-form">
  <% if User.where(email: "guest3@mail.com").present? %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class= "input-group" id="article-title">
        <%= f.hidden_field :username, value: "ゲスト丙" %>
        <%= f.hidden_field :email, value: "guest3@mail.com" %>
        <%= f.hidden_field :password, value: "guestguest3" %>
      </div>
      <%= f.submit 'ゲスト丙としてテストログイン', class: 'btn btn-secondary btn-block my-1', id: "guest-btn" %>
    <% end %>
  <% else %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class= "input-group" id="article-title">
        <%= f.hidden_field :username, value: "ゲスト丙" %>
        <%= f.hidden_field :email, value: "guest3@mail.com" %>
        <%= f.hidden_field :profile, value: "このアカウントはポートフォリオの内容を確認するためのものです。" %>
        <%= f.hidden_field :guest_flg, value: "true" %>
        <%= f.hidden_field :password, value: "guestguest3" %>
      </div>
      <%= f.submit 'ゲスト丙として登録(初回のみ)', class: 'container btn btn-secondary my-1' %>
    <% end %>
  <% end %>
</div>
