<header id="header-content">
  <div class="container-fruid">
    <nav class="navbar header-menu">
      <div class="form-inline">
        <a class="navbar-brand" href="/home">全記事一覧</a>
        <a class="navbar-brand" href="/users">アカウント一覧</a>
        <% if user_signed_in? %>
          <%= link_to '新規記事作成', new_article_url,
            class: 'col-4 navbar-brand btn btn-dark btn-block' %>
        <% end %>
      </div>

      <% if user_signed_in? %>
        <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle" type="button"
            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.username %> さん
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item" type="button"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></button>
            <button class="dropdown-item" type="button"><%= link_to 'ユーザー設定変更', edit_user_registration_path %></button>
            <button class="dropdown-item" type="button"><%= link_to 'ユーザー詳細', current_user %></button>
          </div>
        </div>
      <% else %>
        <%= link_to 'こちらからログイン', new_user_session_path,
          class: 'col-2 float-right btn btn-primary btn-block' %>
      <% end %>
    </nav>
  </div>
</header>
