<div class="sidebar mx-3">
  <% @articles = Article.by_dates.sidebar_limit %>
  <div class="card rounded-0 mb-4" id="sidebar-card">
    <div class="card-header rounded-0 p-1">投稿日順</div>
      <div class="card-body p-1">
        <% @articles.each do |article| %>
          <%= link_to article do %>
            <div class="row d-flex mx-auto justify-content-between">
              <div class="px-0 col-6 col-lg-7 col-xl-8 d-flex ">
                <div class="text-truncate"><%= article.title %></div>
              </div>
              <div class="d-flex">
                --<%= article.created_at.strftime("%m/%d") %>
              </div>
            </div>
        <% end %>
        <% end %>
      </div>
  </div>
  <% @articles = Article.by_comments.sidebar_limit %>
  <div class="card rounded-0 mb-4" id="sidebar-card">
    <div class="card-header rounded-0 p-1">コメント数順</div>
      <div class="card-body p-1">
        <% @articles.each do |article| %>
          <%= link_to article do %>
            <div class="row d-flex mx-auto justify-content-between">
              <div class="px-0 col-6 col-lg-7 col-xl-8 d-flex ">
                <div class="text-truncate"><%= article.title %></div>
              </div>
              <div class="d-flex">
                --(<%= article.comment_count %>)
              </div>
            </div>
        <% end %>
        <% end %>
      </div>
  </div>
</div>
