<!DOCTYPE html>
<html>
  <head>
    <title><%= (yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="row" id="main-layout">
      <div class="main-back-img"></div>
      <div class="col-10">
        <div class="title-sentence">
          <h2><%= (yield(:title)) %></h2>
        </div>
        <%= yield %>
      </div>
      <div class="#"><%= render 'layouts/sidebar' %></div>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
