<!DOCTYPE html>
<!マークダウンプレビュー用のスクリプト>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js'></script>
<html>
  <head>
    <title><%= (yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>

    <meta name=”twitter:card” content=”summary“>
    <meta name=”twitter:site” content=”@RiSE_blackbird“>
    <meta name=”twitter:url” content=”https://peaceful-reaches-94880.herokuapp.com“>
    <meta name=”twitter:title” content=”BlogApp2019_Railsポートフォリオ“>
    <meta name=”twitter:description” content=”Ruby_on_Railsによるブログアプリです。記事投稿や画像アップ機能、コメント投稿機能などを備えています。“>
    <meta name=”twitter:image” content=”Back-main.JPG“>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <div class="main-back-color"></div>
    <div class="main-back-img"></div>

    <div class="row" id="main-layout">
      <div id="login-alert">
        <% if notice %>
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">close</span>
            </button>
            <%= notice %>
          </div>
        <% end %>
        <% if alert %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">close</span>
            </button>
            <%= alert %>
          </div>
        <% end %>
      </div>
      <div class="col-12 col-lg-10" id="cards-space">
        <div class="title-sentence">
          <h4><%= (yield(:title)) %></h4>
        </div>
        <%= yield %>
      </div>
      <div class="col-lg-2 justify-self-center mx-auto px-1"><%= render 'layouts/sidebar' %></div>
    </div>
  </body>
</html>
